
@media only screen and (max-width: 640px) {

  .swiper_container_jr {
    /* height: 67rem; */
    position: relative;
    width: 100%;
  }
  .swiper_container_jr .swiper-slide {
    width: 38rem;
    height: 21rem;
    position: relative;
}
 
  .swiper_container_jr .swiper-slide img {
    width: 38rem;
    height: 19rem;
  }

}
@media (min-width:641px)  {
  .swiper_container_jr {
    /* height: 67rem; */
    position: relative;
    width: 100%;
  }
  .swiper_container_jr .swiper-slide {
    width: 38rem;
    height: 25rem;
    position: relative;
}
 
  .swiper_container_jr .swiper-slide img {
    width: 38rem;
    height: 19rem;
  }
}
@media (max-width:320px)  {
  .swiper_container_jr {
    /* height: 67rem; */
    position: relative;
    width: 100%;
  }
  .swiper_container_jr .swiper-slide {
    width: 28rem;
    height: 40rem;
    position: relative;
  }
  .swiper_container_jr .swiper-slide img {
    width: 25rem;
    height: 20rem;
  }

}

@media (min-width:1025px) {
  .swiper_container_jr {
    height: 60rem;
  }
  .swiper_container_jr .swiper-slide img {
    width: 50rem;
    height: 27rem;
    object-fit: contain;
  }
  .swiper_container_jr .swiper-slide {
    width: 27rem;
    height: 28rem;
    position: relative;
  }
}

  
.swiper_container_jr  .swiper-slide-shadow-left,
.swiper_container_jr .swiper-slide-shadow-right {
  display: none;
}

.swiper_container_jr .swipper-wrapper{
    display: none;

}

.swiper_container_jr .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.swiper_container_jr .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .swiper_container_jr .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .swiper_container_jr .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .swiper_container_jr .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .swiper_container_jr .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }

  .swiper_container_jr .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper_container_jr .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .swiper_container_jr .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper_container_jr .swiper-pagination {
    position: relative;
    width: 15rem !important;
    height: 1.5rem;
    bottom: 2.5rem;
    /* background: #000; */
  }
  
  .swiper_container_jr .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
 .swiper_container_jr .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--color-accent);
  }