/* swipper */
.swiper-pagination-bullet {
    background-color: gray; 
    opacity: 0.5; 
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--color-accent); 
    opacity: 1;
    transform: scale(1.2); 
  }
  